link(rel='stylesheet', href='/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/style.css')

div.header
    h1 Plans tonight?
    i.fa.fa-map-marker.header__icon
    i.fa.fa-cab.header__icon
    i.fa.fa-glass.header__icon