body {
  background: #333 url('../img/background.jpg');
  color: #fff;
}

.main-header {
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
}

.main-header__icon {
  font-size: 45px;
  padding: 15px 15px;
}

.main-header__text {
  font-size: 20px;
  padding: 30px 0;
}

.form-control {
  width: 100% !important;
}

.item-list {
  margin-top: 10px;
}

.bar-item__image {
  border-radius: 6px;
}

.bar-item__link {
  display: inline-block;
  color: #fff;
  margin-bottom:  6px;
}